<footer>
    <p>Copyright © <span id="year"></span><br />Created by <a href="https://github.com/szabolevi98/NodeJS-Express-Validator-Example" target="_blank">szabolevi98</a>
</footer>
<script src="/script/footer.js"></script>
