<div class="message">
    <% if (locals.success) { %>
        <p style="color:lime;">Regisztráció sikerült!</p>
    <% } %>
    <% if (locals.alerts) { %>
        <% alerts.forEach((error) => { %>
            <p style="color:red;"><%= error.msg %></p>
        <% }) %>
    <% } %>
    <% if (locals.errorMessage) { %>
        <p style="color:red;"><%= errorMessage %></p>
    <% } %>
</div>
