<!DOCTYPE html>
<html lang="hu">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/message.ejs') %>
    <div id="main">
        <%- body %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
