:root {
	--mainFontColor: silver;
	--mainBodyColor: rgba(8, 37, 77, 0.75);
	--mainBodyColorHover: rgb(6, 25, 51);
}

body {
	font-family: 'Arial';
	font-weight: bold;
	background: url('/images/bg.jpg') center fixed; 
	background-size: cover;
}

#main {
	background-color: var(--mainBodyColor);
	position: absolute;
	width: 420px;
	height: min-content;
	top: -5%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 35px;
	color: var(--mainFontColor);
	text-align: center;
}

.message {
	background-color: var(--mainBodyColor);
	height: min-content;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: var(--mainFontColor);
	font-size: 12px;
	text-align: center;
}

input[type="text"], [type="password"] {
	background-color: var(--mainBodyColor);
	width: 359px;
	height: 44px;
	border: 0;
	outline: 0;
	padding-left: 8px;
	padding-right: 8px;
	color: var(--mainFontColor);
	text-indent: 5;
	font-size: 15px;
}

input[type="submit"] {
	background-color: var(--mainBodyColor);
	color: var(--mainFontColor);
	font-size: 18px;
	width: 238px;
	height: 50px;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin-top: 20px;
}

input[type="submit"]:hover {
	background-color: var(--mainBodyColorHover);
}

footer {
	background-color: var(--mainBodyColor);
	height: min-content;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	color: var(--mainFontColor);
	font-size: 12px;
	text-align: center;
}

footer a {
	color: var(--mainFontColor);
}

footer a:hover {
	color: var(--mainFontColor);
}
