<form action="/register" method="post">
    <p>Felhasználónév</p>
    <input type="text" name="username" value="<% if (locals.formData) { %><%= formData.username %><% } %>" required />

    <p>Jelszó</p>
    <input type="password" name="password" value="<% if (locals.formData) { %><%= formData.password %><% } %>" required />
    
    <p>Jelszó újra</p>
    <input type="password" name="password_confirm" value="<% if (locals.formData) { %><%= formData.password_confirm %><% } %>" required />

    <p>Email cím</p>
    <input type="text" name="email" value="<% if (locals.formData) { %><%= formData.email %><% } %>" required />
    
    <input type="submit" name="register" value="Regisztráció" required />
</form>
